/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */

header h1 {
    background-color: lightslategray;
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 30px;
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
}

body {
    background-color: gray;
    font-family: 'Oswald', sans-serif;
}

main {
    text-align: center;
}

#citySelector {
    padding: 20px;
}

#searchHeader {
    color: white;
    text-align: left;
}

#weatherDisplay {
    background-color: gray;
    
}

.card {
    background-color: gray;
    border-width: 0;
    margin: 10px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

li {
    display: block;
    margin: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-transform: capitalize;
}

li:hover{
    cursor: pointer;
}

.list-group {
    background-color: gray;
}

.card-subtitle {
    margin-top: -1.5rem;
    margin-bottom: 50px;
}

#currentUVIndex {
    padding: 3px 10px 3px 8px;
    border-radius: 5px;
}

